<div class="jumbotron text-center py-1">
  <div class="row justify-content-center">
    <div class="col-md-4 text-center">

        <img src="assets/images/check.png" class="h-150" alt="">

    </div>
  </div>

  <h1 class="display-3 text-main">Thank you</h1>
  <p class="thanks-paragraph">Your request has been received. Happy Mother's Day!</p>

  <div class="row align-items-center">
    <div class="col-md-6">

      <a class="btn" href="https://zisushi.com/en" role="button">Continue to Zi sushi </a>
    </div>
    <div class="col-md-6">

    <a class="btn" routerLink="/home"  role="button">Back</a>
  </div>
  </div>

</div>
