<div class="ugf-wraper">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="ugf-dontation-wrap" dir="{{ 'dir' | translate }}" [class]="('text-dir' | translate)">
          <div class="ugf-donation">
            <div class="logo">
              <a><img src="assets/images/zi-white.png" class="img-fluid" alt=""></a>
            </div>
            <h1>{{'title' | translate}}</h1>
            <p>
              {{'caption1' | translate}}
            </p>
            <p class="mb-5">
              {{'caption2' | translate}}
            </p>

            <router-outlet></router-outlet>
          </div>
        </div>

      </div>
      <div class="col-lg-7">
        <div class="widget">
          <div class="social-link">
            <ul>
              <li *ngIf="currentLanguage === 'ar'">
                <a (click)="showcurrentLanguage('en')">English</a>
              </li>
              <li *ngIf="currentLanguage === 'en'">
                <a (click)="showcurrentLanguage('ar')">عربي</a>
              </li>
              <li>
                <p class="text-white">|</p>
              </li>
              <li><a href="https://facebook.com/ZiiSushi"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://instagram.com/zi_sushi"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
          <div class="footer">
            <p>{{'footer-1'| translate}}<a href="http://digitalbondmena.com/"><img height="30px" src="assets/images/sticky.png" alt=""></a> {{'footer-2'| translate}}</p>
            <!-- <p [inerr]>{{'footer' | translate}}</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

