<div class="ugf-wraper">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="ugf-dontation-wrap">
          <div class="ugf-donation">
            <div class="logo">
              <a><img src="assets/images/zi-white.png" class="img-fluid" alt=""></a>
            </div>
            <h1>Gift Your Mother! 😍 </h1>
            <p>Get order on March 2022 & Fill out this form
            </p>
            <p class="mb-5"> To send a free gift to your mom on Mother's Day.</p>

            <router-outlet></router-outlet>
          </div>
        </div>

      </div>
      <div class="col-lg-7">
        <div class="widget">
          <div class="social-link">
            <ul>
              <!-- <li><a (click)="saveLanguageToLocalStorage(selected)" >EN</a></li> -->
              <li><a href="https://facebook.com/ZiiSushi"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://instagram.com/zi_sushi"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
          <div class="footer">
            <p>Copyright &copy; 2022 <a href="http://digitalbondmena.com/"><img height="30px" src="assets/images/sticky.png" alt=""></a>. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

